@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #eeee;
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background: #1a1a1a;
  color: #eaeaea;
}

.toggle:checked {
  background-color: #1fa45b;
}

.dark-mode .toggle:checked {
  background-color: #4ade80;
}

.hello:checked {
  color: rgb(0, 118, 0);
}
